
<div class="modal-header">
    <h5 class="modal-title">Daten-Import</h5>
</div>
<div class="modal-body" ng-show="status === 'anfang'">
    <p>Erkannter Typ: {{dateiTyp}}</p>
    <p>{{datenAnzahl}} erkannte Datenpunkte.</p>
    <p>{{parserFehlerAnzahl}} Fehlerhafte Datei-Einträge.</p>
    <p>{{datenbankFehlerAnzahl}} Datenpunkte die nicht zugeordnet werden konnten.</p>
</div>
<div class="modal-body" ng-show="status === 'importieren'">
    <p>Datei wird importiert.</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
</div>
<div class="modal-body" ng-show="status === 'erfolgreich'">
    <p>Datei wurde importiert.</p>
</div>
<div class="modal-body" ng-show="status === 'fehler'">
    <p>Datei konnte nicht importiert werden.</p>
    <p>Grund: {{fehlerBeschreibung}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn dark-white p-x-md" ng-click="dismiss()" ng-hide="status === 'erfolgreich'">Abbrechen</button>
    <button type="button" class="btn dark-white p-x-md" ng-click="dismiss()" ng-show="status === 'erfolgreich'">Schließen</button>

    <button type="button" class="btn danger p-x-md" ng-click="importieren()" ng-show="status === 'anfang'">Importieren</button>
</div>