<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
    <div class="col-sm-6">
        <div class="box">
            <div class="box-header">
                Einstellungen
            </div>
            <div class="box-body">
                neue Schüler: <input type="number" ng-model="einstellungen.neueSchueler"/>
                davon RK: <input type="number" ng-model="einstellungen.neueRKSchueler"/>
                davon RE: <input type="number" ng-model="einstellungen.neueRESchueler"/>
                davon Ethik: <input type="number" ng-model="einstellungen.neueETSchueler"/>
                <button class="btn {{app.settings.theme.primary}}" ng-click="einstellungenSpeichern()">Speichern</button>
            </div>
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-sm-1" style="margin-left: 20px;min-width: 120px">
        <div class="box">
            <div class="box-header">
                <h3>Filter</h3>
            </div>
            <div class="box-body">
                <div class="row" style="width: 100%; margin-left: 0px">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Fach</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fach in data.faecher | orderBy:'kuerzel'" ng-class="{'active': fach.uuid == auswahl.fach.uuid}">
                                    <td ng-click="setzeAuswahl('fach', fach)">
                                        {{ fach.kuerzel }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-2">
        <div class="box">
            <div class="box-header">
                <h3>Fach</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="fach in aktive_klasse.faecher" ng-class="{'active': fach == aktives_fach}">
                            <td ng-click="setzeAktivesFach(fach)">
                                {{ fach.name }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="box">
            <div class="box-header">
                <h3>Buch</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="buch in aktives_fach.buecher" ng-class="{'active': buch == aktives_buch}">
                            <td ng-click="setzeAktivesBuch(buch)">
                                {{ buch }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    <div class="col-sm-7">
        <div class="box">
            <div class="box-header">
                <h3>Liste</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <td>Buch</td>
                            <td>Preis</td>
                            <td>ISBN</td>
                            <td>Nächstes Jahr Benötigt</td>
                            <td>in LMV vorhanden</td>
                            <td>rückläufig</td>
                            <td>noch benötigt</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="objekt in anzeige.buecher">
                            <td>{{objekt.buch.titel}}</td>
                            <td>{{objekt.buch.preis}}</td>
                            <td>{{objekt.buch.isbn}}</td>
                            <td>{{objekt.anzahlBenoetigt}}</td>
                            <td>{{objekt.buch.bestand}}</td>
                            <td>{{objekt.anzahlRuecklaeufig}}</td>
                            <td>{{objekt.anzahlBenoetigt - objekt.anzahlRuecklaeufig - objekt.buch.bestand}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>