<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="mb-0 _300">Wilkommen zur Lernmittelverwaltung des CFG!</h4>
			<small class="text-muted">© Max Rumpf 2018</small>
		</div>
	</div>
</div>
<div class="padding">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded  {{app.setting.theme.accent}}">
	              <i class="material-icons">&#xe151;</i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-0 text-lg _300"><a ui-sref="lmv.stammdaten.buecher">{{buecherAnzahl}} <span class="text-sm">Bücher</span></a></h4>
	            <small class="text-muted">...</small>
	          </div>
	        </div>
	    </div>
	    <div class="col-xs-6 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded {{app.setting.theme.primary}}">
	              <i class="material-icons">&#xe54f;</i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-0 text-lg _300"><a ui-sref="lmv.stammdaten.faecher">{{faecherAnzahl}} <span class="text-sm">Fächer</span></a></h4>
	            <small class="text-muted">...</small>
	          </div>
	        </div>
	    </div>
	    <div class="col-xs-6 col-sm-4">
	        <div class="box p-a">
	          <div class="pull-left m-r">
	            <span class="w-48 rounded {{app.setting.theme.warn}}">
	              <i class="material-icons">&#xe8d3;</i>
	            </span>
	          </div>
	          <div class="clear">
	            <h4 class="m-0 text-lg _300"><a ui-sref="lmv.stammdaten.schueler">{{schuelerAnzahl}} <span class="text-sm">Schüler</span></a></h4>
	            <small class="text-muted">...</small>
	          </div>
	        </div>
	    </div>
	</div>
	
</div>
