<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="box">
      <div class="box-header dker">
        <h3>Klasse</h3>
        <h3>Fach</h3>
        <h3>Buch</h3>
      </div>
      <div class="box-body">
        <table class="table">
          <tbody>
            <tr ng-repeat="i in indexArray track by $index">
              <td ng-click="setzeAktiv('klasse', $index)" ng-class="{'active': istAktiv('klasse', $index)}">
                {{ klasseFür($index) }}
              </td>
              <td ng-click="setzeAktiv('fach', $index)" ng-class="{'active': istAktiv('fach', $index)}">
                {{ fachFür($index) }}
              </td>
              <td ng-click="setzeAktiv('buch', $index)" ng-class="{'active': istAktiv('buch', $index)}">
                {{ buchFür($index) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>