<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-4" style="margin-left: 20px;min-width: 120px">
    <div class="box" ng-style="stickyFilter">
      <div class="box-header">
        <h3>Filter</h3>
      </div>
      <div class="box-body">
        <div class="row" style="width: 100%; margin-left: 0px">
          <div class="row-sm-4" style="width: calc(30% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Klasse</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="klasse in _data.klassen | orderBy:['stufe', 'bezeichnung']" ng-class="{'active': klasse == _auswahl.klasse}">
                  <td ng-click="setzeAuswahl('klasse', klasse)">
                    {{ klasse.bezeichnung }}
                    <span style="margin-top: 0px" class="pull-right label primary">{{anzahlFuerKlasse(klasse.uuid)}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row-sm-4" style="width: calc(20% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Fach</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fach in _anzeige.faecher | orderBy:'kuerzel'" ng-class="{'active': fach == _auswahl.fach}">
                  <td ng-click="setzeAuswahl('fach', fach)">
                    {{ fach.kuerzel }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row-sm-4" style="width: calc(50% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Buch</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="buch in _anzeige.buecher | orderBy:'titel'" ng-class="{'active': buch == _auswahl.buch}">
                  <td ng-click="setzeAuswahl('buch', buch)">
                    {{ buch.titel }}
                    <span style="margin-top: 0px" class="pull-right label primary">{{buch.habenAusgeliehen}}/{{buch.koennenAusleihen}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-2">
    <div class="box">
      <div class="box-header">
        <h3>Fach</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr ng-repeat="fach in aktive_klasse.faecher" ng-class="{'active': fach == aktives_fach}">
              <td ng-click="setzeAktivesFach(fach)">
                {{ fach.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box-header">
        <h3>Buch</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr ng-repeat="buch in aktives_fach.buecher" ng-class="{'active': buch == aktives_buch}">
              <td ng-click="setzeAktivesBuch(buch)">
                {{ buch }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div class="col-sm-7">
    <div class="box">
      <div class="box-header">
        <h3 ng-show="!_auswahl.klasse.uuid || !_auswahl.fach.uuid || !_auswahl.buch.uuid">Liste</h3>
        <h3 ng-show="_auswahl.klasse.uuid && _auswahl.fach.uuid && _auswahl.buch.uuid">Klasse: "{{_auswahl.klasse.bezeichnung}}", Fach: "{{_auswahl.fach.bezeichnung}}", Buch: "{{_auswahl.buch.titel}}", Lehrer: "{{_anzeige.deputat}}"<button class="btn btn-sm pull-right primary" ng-click="drucken()"><i class="fa fa-print"></i></button></h3>
      </div>
      <div class="box-body">
        <button class="btn btn-sm {{app.setting.theme.primary}} batch-button" ng-click="batchAktion('ausleihen')" ng-disabled="_auswahl.batch.length === 0">ausgewählte Ausleihen</button>
        <button class="btn btn-sm {{app.setting.theme.primary}} batch-button" ng-click="batchAktion('entleihen')" ng-disabled="_auswahl.batch.length === 0">ausgewählte Zurückgeben</button>
        <table class="table table-bordered table-sm" style="">
          <thead>
            <tr>
              <td>
                <batch-alles-button data="_auswahl.batch" all="_auswahl.batchall" colour=""></batch-alles-button>
              </td>
              <td>Schüler-Name</td>
              <td>ausgeliehen</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="objekt in _anzeige.schuelerListe | orderBy:['-ausgeliehen', 'schueler.name']" ng-if="_auswahl.klasse.stufe === 0" ng-class="{'success': objekt.ausgeliehen}">
              <td>
                <batch-einzeln uuid="objekt.schueler.uuid" data="_auswahl.batch"></batch-einzeln>
              </td>
              <td ng-click="">
                {{objekt.schueler.name}}
              </td>
              <td ng-click="">
                {{boolZuString(objekt.ausgeliehen)}}
              </td>
              <td>
                <button ng-show="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="nichtMehrAusleihen(objekt)">zurückgeben</button>
                <button ng-hide="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="ausleihen(objekt)">ausleihen</button>
              </td>
            </tr>
            <tr ng-repeat="objekt in _anzeige.schuelerListe | orderBy:'schueler.name'" ng-if="_auswahl.klasse.stufe !== 0" ng-class="{'success': objekt.ausgeliehen}">
              <td>
                <batch-einzeln uuid="objekt.schueler.uuid" data="_auswahl.batch"></batch-einzeln>
              </td>
              <td ng-click="">
                <a ui-sref="lmv.ausleihe.schüler({'klasse': _auswahl.klasse.uuid, 'schueler': objekt.schueler.uuid})">{{objekt.schueler.name}}</a>
              </td>
              <td ng-click="">
                {{boolZuString(objekt.ausgeliehen)}}
              </td>
              <td>
                <button ng-show="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="nichtMehrAusleihen(objekt)">zurückgeben</button>
                <button ng-hide="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="ausleihen(objekt)">ausleihen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="display: none" id="druckObjekt">
  <h3>Klasse: {{_auswahl.klasse.bezeichnung}}, Fach: {{_auswahl.fach.bezeichnung}}, Buch: {{_auswahl.buch.titel}}, Lehrer: {{_anzeige.deputat}}</h3>
  <table>
    <tr style="height: 10px">
      <td>Schüler-Name</td>
      <td>ausgeliehen</td>
    </tr>
    <tr style="height: 10px" ng-repeat="objekt in _anzeige.schuelerListe | orderBy:['-ausgeliehen', 'schueler.name']">
      <td>
        <p>{{objekt.schueler.name}}</p>
      </td>
      <td>
        <p>{{boolZuString(objekt.ausgeliehen)}}</p>
      </td>
    </tr>
  </table>
</div>