<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-4" style="margin-left: 20px;min-width: 120px">
    <div class="box" ng-style="stickyFilter">
      <div class="box-header">
        <h3>Filter</h3>
      </div>
      <div class="box-body">
        <div class="row" style="width: 100%; margin-left: 0px">
          <div class="row-sm-4" style="width: calc(20% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Fach</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="fach in _data.faecher | orderBy:'kuerzel'" ng-class="{'active': fach == _auswahl.fach}">
                  <td ng-click="setzeAuswahl('fach', fach)">
                    {{ fach.kuerzel }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row-sm-4" style="width: calc(80% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Buch</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="buch in _anzeige.buecher | orderBy:'titel'" ng-class="{'active': buch == _auswahl.buch}">
                  <td ng-click="setzeAuswahl('buch', buch)">
                    {{ buch.titel }}
                    <span style="margin-top: 4px" class="pull-right label primary">{{ausleiheAnzahl(buch)}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-2">
    <div class="box">
      <div class="box-header">
        <h3>Fach</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr ng-repeat="fach in aktive_klasse.faecher" ng-class="{'active': fach == aktives_fach}">
              <td ng-click="setzeAktivesFach(fach)">
                {{ fach.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box-header">
        <h3>Buch</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr ng-repeat="buch in aktives_fach.buecher" ng-class="{'active': buch == aktives_buch}">
              <td ng-click="setzeAktivesBuch(buch)">
                {{ buch }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div class="col-sm-7">
    <div class="box">
      <div class="box-header">
        <h3>Liste für "{{_auswahl.buch.titel}}"</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm" style="">
          <thead>
            <tr>
              <td>Klasse</td>
              <td>Schüler-Name</td>
              <td>Aktion</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="objekt in _anzeige.schuelerListe | orderBy:['schueler.klasse.stufe', 'schueler.klasse.bezeichnung', 'schueler.name']" ng-class="{'success': _auswahl.buch.stufe_bis >= objekt.schueler.klasse.stufe, 'warn': _auswahl.buch.stufe_bis < objekt.schueler.klasse.stufe}">
              <td>{{objekt.schueler.klasse.bezeichnung}}</td>
              <td ng-click="">
                <a ui-sref="lmv.ausleihe.schüler({'klasse': objekt.schueler.klasse.uuid, 'schueler': objekt.schueler.uuid})">{{objekt.schueler.name}}</a>
              </td>
              <td>
                <button ng-show="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="nichtMehrAusleihen(objekt)">zurückgeben</button>
                <button ng-hide="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="ausleihen(objekt)">ausleihen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>