<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-4" style="margin-left: 20px;min-width: 120px">
    <div class="box" ng-style="stickyFilter">
      <div class="box-header">
        <h3>Filter</h3>
      </div>
      <div class="box-body">
        <div class="row" style="width: 100%; margin-left: 0px">
          <div class="row-sm-4" style="width: calc(20% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>Klasse</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="klasse in _data.klassen | orderBy:['stufe', 'bezeichnung']" ng-class="{'active': klasse == _auswahl.klasse}">
                  <td ng-click="setzeAuswahl('klasse', klasse)">
                    {{ klasse.bezeichnung }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row-sm-4" style="width: calc(80% - 3px);margin-right: 3px">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <td>
                    Schüler
                    <div class="pull-right">
                      <input type="text" class="form-control form-control-sm" 
                      ng-model="schuelerSuche" 
                      bs-options="schueler.name as schueler.name for schueler in _anzeige.schueler" 
                      placeholder="Suche" 
                      bs-typeahead style="margin-bottom: -1000px;margin-top: -3px;width:200px;">
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="schueler in _anzeige.schueler | filter:{name: schuelerSuche} | orderBy:'name'" ng-class="{'active': schueler.uuid == _auswahl.schueler.uuid}">
                  <td ng-click="setzeAuswahl('schueler', schueler)">
                    {{ schueler.name }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-2">
    <div class="box">
      <div class="box-header">
        <h3>Fach</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr ng-repeat="fach in aktive_klasse.faecher" ng-class="{'active': fach == aktives_fach}">
              <td ng-click="setzeAktivesFach(fach)">
                {{ fach.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="box">
      <div class="box-header">
        <h3>Buch</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr ng-repeat="buch in aktives_fach.buecher" ng-class="{'active': buch == aktives_buch}">
              <td ng-click="setzeAktivesBuch(buch)">
                {{ buch }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <div class="col-sm-7">
    <div class="box">
      <div class="box-header">
        <h3>Liste für "{{_auswahl.schueler.name}}, {{_auswahl.klasse.bezeichnung}}"<button class="btn btn-sm pull-right primary" ng-click="drucken()"><i class="fa fa-print"></i></button></h3>
      </div>
      <div class="box-body">
        <button class="btn btn-sm {{app.setting.theme.primary}}" ng-click="batchAktion('ausleihen')" ng-disabled="_auswahl.batch.length === 0">ausgewählte Ausleihen</button>
        <button class="btn btn-sm {{app.setting.theme.primary}}" ng-click="batchAktion('entleihen')" ng-disabled="_auswahl.batch.length === 0">ausgewählte Zurückgeben</button>
        <table class="table table-bordered table-sm" style="">
          <thead>
            <tr>
              <td>
                <batch-alles-button data="_auswahl.batch" all="_auswahl.batchall" colour=""></batch-alles-button>
              </td>
              <td>Fach</td>
              <td>Buch-Titel</td>
              <td>ausgeliehen</td>
              <td>Aktion</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="objekt in _anzeige.buecherListe | orderBy:['-ausgeliehen', 'buch.fach_bezeichnung', 'buch.titel']" ng-if="_auswahl.klasse.stufe === 0" ng-class="{'success': (objekt.ausgeliehen && objekt.buch.stufe_bis >= _auswahl.klasse.stufe), 'warn': (objekt.buch.stufe_bis < _auswahl.klasse.stufe)}">
              <td>
                <batch-einzeln uuid="objekt.buch.uuid" data="_auswahl.batch"></batch-einzeln>
              </td>
              <td>
                {{objekt.buch.fach_bezeichnung}}
              </td>
              <td ng-click="">
                {{objekt.buch.titel}}
              </td>
              <td ng-click="">
                {{boolZuString(objekt.ausgeliehen)}}
              </td>
              <td>
                <button ng-show="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="nichtMehrAusleihen(objekt)">zurückgeben</button>
                <button ng-hide="objekt.ausgeliehen" class="btn btn-sm {{app.setting.theme.primary}}" ng-click="ausleihen(objekt)">ausleihen</button>
              </td>
            </tr>
            <tr ng-repeat="objekt in _anzeige.buecherListe | orderBy:['buch.fach_bezeichnung', 'buch.titel']" ng-if="_auswahl.klasse.stufe !== 0" ng-class="{'success': (objekt.ausgeliehen && objekt.buch.stufe_bis >= _auswahl.klasse.stufe), 'warn': (objekt.buch.stufe_bis < _auswahl.klasse.stufe)}">
              <td>
                <batch-einzeln uuid="objekt.buch.uuid" data="_auswahl.batch"></batch-einzeln>
              </td>
              <td>
                {{objekt.buch.fach_bezeichnung}}
              </td>
              <td ng-click="">
                {{objekt.buch.titel}}
              </td>
              <td ng-click="">
                {{boolZuString(objekt.ausgeliehen)}}
              </td>
              <td>
                <button ng-show="objekt.ausgeliehen" class="btn btn-sm primary" ng-click="nichtMehrAusleihen(objekt)">zurückgeben</button>
                <button ng-hide="objekt.ausgeliehen" class="btn btn-sm primary" ng-click="ausleihen(objekt)">ausleihen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>