<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.profile">
	    <span class="pull-left">
	      <img src="../assets/images/a0.jpg" alt="..." class="w-40 img-circle">
	    </span>
	    <span class="clear hidden-folded p-x">
	      <span class="block _500">Herr Heckmann</span>
	    </span>
	</a>
</div>
