<nav ui-nav>
  <ul class="nav">
    <li><div class="b-b b m-v-sm"></div></li>
    <li class="no-bg">
      <a>
        <span class="nav-icon">
      	 <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
