
  <ul class="nav" ui-nav>
    <li ui-sref-active="active">
      <a ui-sref="lmv.übersicht">
        <span class="nav-icon">
          <i class="fa fa-bar-chart-o"></i>
        </span>
        <span class="nav-text">Übersicht</span>
      </a>
    </li>
    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-icon">
          <i class="fa fa-book"></i>
        </span>
        <span class="nav-text">Ausleihe</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a ui-sref="lmv.ausleihe.klassen">
            <span class="nav-text">nach Klassen</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.ausleihe.schüler">
            <span class="nav-text">nach Schülern</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.ausleihe.bücher">
            <span class="nav-text">nach Büchern</span>
          </a>
        </li>
        <!-- <li ui-sref-active="active">
          <a ui-sref="lmv.ausleihe.fach">
            <span class="nav-text">nach Fach</span>
          </a>
        </li> -->
      </ul>
    </li>
    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-icon">
          <i class="fa fa-database"></i>
        </span>
        <span class="nav-text">Stammdaten</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a ui-sref="lmv.stammdaten.klassen">
            <span class="nav-text">Klassen</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.stammdaten.schueler">
            <span class="nav-text">Schüler</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.stammdaten.faecher">
            <span class="nav-text">Fächer</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.stammdaten.buecher">
            <span class="nav-text">Bücher</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="lmv.stammdaten.deputate">
            <span class="nav-text">Deputate</span>
          </a>
        </li>
      </ul>
    </li>
    
    <li>
      <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
        <span class="nav-icon">
          <i class="fa fa-gears"></i>
        </span>
        <span class="nav-text">Einstellungen</span>
      </a>
      <ul class="nav-sub">
        <li ui-sref-active="active">
          <a ui-sref="lmv.einstellungen.datenimport">
              <span class="nav-icon">
                  <i class="material-icons">
                      import_export
                      </i>
              </span>
              <span class="nav-text">Daten-Import</span>
          </a>
        </li>
      </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="lmv.bestellungen">
          <span class="nav-icon">
            <i class=""></i>
          </span>
          <span class="nav-text">Bestellungen</span>
        </a>
      </li>
  </ul>
