<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-2 col-lg-1">
    <div class="p-y">
      <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item" ng-repeat="fach in _data.faecher | orderBy:'kuerzel'">
            <a class="nav-link block white" ng-class="{'primary': istAuswahl('fach', fach), 'text-white': istAuswahl('fach', fach)}" href ng-click="setzeAuswahl('fach', fach)">
                <span style="margin-top: 4px" class="pull-right label primary">{{anzahlBuecherFuerFach(fach)}}</span>
                {{fach.kuerzel}}
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-11">
    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <td>Titel</td>
              <td>Verlag</td>
              <td>Stufe</td>
              <td>ISBN</td>
              <td>Preis</td>
              <td>Eingabedatum</td>
              <td>Bestand</td>
              <td>Aktion</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="buch in _anzeige.buecher">
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{buch.titel}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.titel" required/>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{buch.verlag}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.verlag"/>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{buch.stufe_von}}-{{buch.stufe_bis}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.stufe_von" style="max-width: 50px">
                    <span class="input-group-addon">bis</span>
                    <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.stufe_bis" style="max-width: 50px">
                  </div>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{buch.isbn}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.isbn"/>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{numENzuDE(buch.preis)}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.preis"/>
                </div>
              </td>
              <td class="align-baseline">
                <div>{{datumENzuDE(buch.eingabedatum)}}</div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(buch)">{{buch.bestand}}</div>
                <div ng-show="editierenAktiv(buch)">
                  <input type="text" class="form-control form-control-sm" ng-model="_auswahl.editiertesBuch.bestand"/>
                </div>
              </td>
              <td ng-show="app.setting.symbole">
                <div ng-hide="editierenAktiv(buch)">
                  <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="setzeEditieren(buch)"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-sm danger" ng-click="loescheBuch(buch)"><i class="fa fa-trash"></i></button>
                </div>
                <div ng-show="editierenAktiv(buch)">
                  <button class="btn btn-sm success" ng-click="editierenFertig()"><i class="fa fa-check"></i></button>
                  <button class="btn btn-sm danger" ng-click="editierenAbbrechen()"><i class="fa fa-times"></i></button>
                </div>
              </td>
              <td ng-hide="app.setting.symbole">
                <div ng-hide="editierenAktiv(buch)">
                  <button class="btn btn-sm" ng-click="setzeEditieren(buch)">Editieren</button>
                  <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="loescheBuch(buch)">Löschen</button>
                </div>
                <div ng-show="editierenAktiv(buch)">
                    <button class="btn btn-sm" ng-click="editierenFertig()">Fertig</button>
                    <button class="btn btn-sm" ng-click="editierenAbbrechen()">Abbrechen</button>
                </div>
              </td>
            </tr>
            <tr>
                <td class="align-baseline"><input type="text" class="form-control form-control-sm" ng-model="_neuesBuch.titel" placeholder="Titel"/></td>
                <td class="align-baseline"><input type="text" class="form-control form-control-sm" ng-model="_neuesBuch.verlag" placeholder="Verlag"/></td>
                <td class="align-baseline">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" placeholder="" ng-model="_neuesBuch.stufe_von" style="max-width: 50px;height: ">
                    <span class="input-group-addon">bis</span>
                    <input type="text" class="form-control form-control-sm" placeholder="" ng-model="_neuesBuch.stufe_bis" style="max-width: 50px">
                  </div>
                </td>
                <td class="align-baseline"><input type="text" class="form-control form-control-sm" ng-model="_neuesBuch.isbn" placeholder="ISBN"/></td>
                <td class="align-baseline"><input type="text" class="form-control form-control-sm" ng-model="_neuesBuch.preis" placeholder="Preis"/></td>
                <td class="align-baseline">heute</td>
                <td class="align-baseline"><input type="text" class="form-control form-control-sm" ng-model="_neuesBuch.bestand" placeholder="Bestand"/></td>
                <td class="align-baseline"><button type="submit" class="btn btn-sm btn-success" ng-click="hinzufuegen()">Hinzufügen</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>