<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
    <div class="col-sm-4" style="margin-left: 20px;min-width: 120px">
        <div class="box">
            <div class="box-body">
                <div class="row" style="width: 100%; margin-left: 0px">
                    <div class="row-sm-4" style="width: calc(20% - 3px);margin-right: 3px">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <td>Fach</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="fach in _data.faecher | orderBy:'kuerzel'" ng-class="{'active': fach == _auswahl.fach}">
                                    <td ng-click="setzeAuswahl('fach', fach)">
                                        {{ fach.kuerzel }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row-sm-4" style="width: calc(20% - 3px);margin-right: 3px">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <td>Klasse</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="klasse in _anzeige.klassen | orderBy:['stufe', 'bezeichnung']" ng-class="{'active': klasse == _auswahl.klasse}">
                                    <td ng-click="setzeAuswahl('klasse', klasse)">
                                        {{ klasse.bezeichnung }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="box">
            <div class="box-header">
                <h3>Deputat</h3>
            </div>
            <div class="box-body">
                <p ng-hide="_auswahl.fach.uuid && _auswahl.klasse.uuid">Fach und Klasse auswählen...</p>
                <p ng-show="_auswahl.fach.uuid && _auswahl.klasse.uuid">
                    Lehrer: 
                    <select class="custom-select" ng-model="_anzeige.lehrer_id">
                        <option ng-repeat="lehrer in _data.lehrer" value="{{lehrer.uuid}}">{{lehrer.name}}</option>
                    </select>
                    <button class="btn {{app.setting.theme.primary}}" ng-click="speichern()">Speichern</button>
                </p>
            </div>
        </div>
    </div>
</div>