<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm" style="table-layout: fixed">
          <thead>
            <tr>
              <td>Bezeichnung</td>
              <td>Kuerzel</td>
              <td>Klassenstufen-Bereich</td>
              <td>Typ</td>
              <td>Aktion</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="fach in faecher | orderBy:'bezeichnung'">
              <td class="align-baseline" ng-hide="editierenAktiv(fach)">{{fach.bezeichnung}}</td>
              <td class="align-baseline" ng-hide="editierenAktiv(fach)">{{fach.kuerzel}}</td>
              <td class="align-baseline" ng-hide="editierenAktiv(fach)">{{fach.stufe_von}}-{{fach.stufe_bis}}</td>
              <td class="align-baseline" ng-hide="editierenAktiv(fach)">{{typZuString(fach)}}</td>

              <td class="align-baseline" ng-hide="editierenAktiv(fach) || !app.setting.symbole">
                <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="setzeEditieren(fach);alert(JSON.stringify(fach));"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm danger" ng-click="loescheFach(fach)"><i class="fa fa-trash"></i></button>
              </td>
              <td class="align-baseline" ng-hide="editierenAktiv(fach) || app.setting.symbole">
                <button class="btn btn-sm" ng-click="setzeEditieren(fach);alert(JSON.stringify(fach));">Editieren</button>
                <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="loescheFach(fach)">Löschen</button>
              </td>
              
              <td class="align-baseline" ng-show="editierenAktiv(fach)"><input type="text" class="form-control form-control-sm" ng-model="editiertesFach.bezeichnung"></td>
              <td class="align-baseline" ng-show="editierenAktiv(fach)"><input type="text" class="form-control form-control-sm" ng-model="editiertesFach.kuerzel"></td>
              <td class="align-baseline" ng-show="editierenAktiv(fach)">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control form-control-sm" placeholder="" ng-model="editiertesFach.stufe_von" style="max-width: 50px">
                  <span class="input-group-addon">bis</span>
                  <input type="text" class="form-control form-control-sm" placeholder="" ng-model="editiertesFach.stufe_bis" style="max-width: 50px">
                </div>
              </td>
              <td class="align-baseline" ng-show="editierenAktiv(fach)">
                <select class="custom-select" ng-model="editiertesFach.typ">
                  <option value="normal" selected>Normal</option>
                  <option value="fremdsprache">Fremdsprache</option>
                  <option value="profil">Profilfach</option>
                  <option value="konfession">Konfession</option>
                </select>
              </td>
              <td class="align-baseline" ng-show="editierenAktiv(fach) && app.setting.symbole">
                <button class="btn btn-sm success" ng-click="editierenFertig()"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm danger" ng-click="editierenAbbrechen()"><i class="fa fa-times"></i></button>
              </td>
              <td class="align-baseline" ng-show="editierenAktiv(fach) && !app.setting.symbole">
                <button class="btn btn-sm" ng-click="editierenFertig()">Fertig</button>
                <button class="btn btn-sm" ng-click="editierenAbbrechen()">Abbrechen</button>
            </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control form-control-sm" ng-model="neuesFach.bezeichnung" placeholder="Bezeichnung"/></td>
                <td><input class="form-control form-control-sm" ng-model="neuesFach.kuerzel" placeholder="Kürzel"/></td>
                <td>
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" placeholder="" ng-model="neuesFach.stufe_von" style="max-width: 50px">
                    <span class="input-group-addon">bis</span>
                    <input type="text" class="form-control form-control-sm" placeholder="" ng-model="neuesFach.stufe_bis" style="max-width: 50px">
                  </div>
                </td>
                <td>
                  <select class="custom-select" ng-model="neuesFach.typ">
                    <option value="normal" selected>Normal</option>
                    <option value="fremdsprache">Fremdsprache</option>
                    <option value="profil">Profilfach</option>
                    <option value="konfession">Konfession</option>
                  </select>
                </td>
                <td><button type="submit" class="btn {{app.setting.theme.primary}}" ng-click="hinzufuegen()">Hinzufügen</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>