<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-1"></div>
  <div class="col-sm-11">
    <div class="box">
      <div class="box-body">
        <table class="table table-bordered table-striped table-sm" style="table-layout: fixed">
          <thead>
            <tr>
              <td>Bezeichnung</td>
              <td>Stufe</td>
              <td>Aktion</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="klasse in klassen | orderBy:['stufe', 'bezeichnung']">
              <td class="align-baseline" ng-hide="editierenAktiv(klasse)">{{klasse.bezeichnung}}</td>
              <td class="align-baseline" ng-hide="editierenAktiv(klasse)">{{klasse.stufe}}</td>
              <td class="align-baseline" ng-hide="editierenAktiv(klasse) || !app.setting.symbole">
                <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="setzeEditieren(klasse);"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm danger" ng-click="loescheKlasse(klasse)"><i class="fa fa-trash"></i></button>
              </td>
              <td class="align-baseline" ng-hide="editierenAktiv(klasse) || app.setting.symbole">
                <button class="btn btn-sm" ng-click="setzeEditieren(klasse);">Editieren</button>
                <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="loescheKlasse(klasse)">Löschen</button>
              </td>
              <td class="align-baseline" ng-show="editierenAktiv(klasse)"><input type="text" class="form-control form-control-sm" ng-model="editierteKlasse.bezeichnung"></td>
              <td class="align-baseline" ng-show="editierenAktiv(klasse)"><input type="text" class="form-control form-control-sm" ng-model="editierteKlasse.stufe"></td>
              <td class="align-baseline" ng-show="editierenAktiv(klasse) && app.setting.symbole">
                <button class="btn btn-sm success" ng-click="editierenFertig()"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm danger" ng-click="editierenAbbrechen()"><i class="fa fa-times"></i></button>
              </td>
              <td class="align-baseline" ng-show="editierenAktiv(klasse) && !app.setting.symbole">
                <button class="btn btn-sm" ng-click="editierenFertig()">Fertig</button>
                <button class="btn btn-sm" ng-click="editierenAbbrechen()">Abbrechen</button>
            </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control form-control-sm" ng-model="neueKlasse.bezeichnung" placeholder="Bezeichnung"/></td>
                <td><input type="text" class="form-control form-control-sm" ng-model="neueKlasse.stufe" placeholder="Stufe"/></td>
                <td><button type="submit" class="btn {{app.setting.theme.primary}}" ng-click="hinzufuegen()">Hinzufügen</button></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>