<div class="modal-header">
    <h5 class="modal-title">Schüler verschieben</h5>
</div>
<div class="modal-body">
    <p>Schüler: {{schueler.name}}</p>
    <p>Aktuelle Klasse: {{aktuelleKlasse.bezeichnung}}</p>
    <p>Neue Klasse:</p>
    <select class="custom-select" ng-model="neueKlasse">
        <option ng-repeat="klasse in klassen | orderBy:['stufe', 'bezeichnung']" value="{{klasse.uuid}}">{{klasse.bezeichnung}}</option>
      </select>
<div class="modal-footer">
    <button type="button" class="btn dark-white p-x-md" ng-click="abbrechen()">Abbrechen</button>
    <button type="button" class="btn danger p-x-md" ng-click="verschieben()">Verschieben</button>
</div>