<!-- only need a height for layout 4 -->
<div style="min-height: 20px"></div>
<div class="row m-b">
  <div class="col-sm-2">
    <div class="p-y">
      <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item" ng-repeat="aktuelleKlasse in klassen | orderBy:['stufe', 'bezeichnung']">
            <a class="nav-link block white" ng-class="{'primary': istAktiveKlasse(aktuelleKlasse), 'text-white': istAktiveKlasse(aktuelleKlasse)}" href ng-click="setzeAktiveKlasse(aktuelleKlasse)">
              <span style="margin-top: 4px" class="pull-right label primary">{{anzahlSchuelerFuerKlasse(aktuelleKlasse)}}</span>
              {{aktuelleKlasse.bezeichnung}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="box">
      <div class="box-header">
        <h3>Schüler</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <td>Name</td>
              <td>Geburtsdatum</td>
              <td>Konfession</td>
              <td>Fremdsprache</td>
              <td>Profil</td>
              <td>Aktionen</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="schueler in schuelerInAktuellerKlasse | orderBy:'name'">
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler)">{{schueler.name}}</div>
                <div ng-show="editierenAktiv(schueler)">
                  <input type="text" class="form-control form-control-sm" ng-model="editierterSchueler.name"/>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler)">{{ENzuDE(schueler.geburtsdatum)}}</div>
                <div ng-show="editierenAktiv(schueler)">
                  <input type="text" class="form-control form-control-sm" ng-model="editierterSchueler.geburtsdatum"/>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler)">{{schueler.konfession_bezeichnung}}</div>
                <div ng-show="editierenAktiv(schueler)">
                  <select class="custom-select" ng-model="editierterSchueler.konfession_id">
                    <option ng-repeat="aktuelle_konfession in spezialFaecher.konfessionen" value="{{aktuelle_konfession.uuid}}">{{aktuelle_konfession.kuerzel}}</option>
                  </select>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler)">{{schueler.fremdsprache_bezeichnung}}</div>
                <div ng-show="editierenAktiv(schueler)">
                  <select class="custom-select" ng-model="editierterSchueler.fremdsprache_id">
                    <option ng-repeat="aktuelle_fremdsprache in spezialFaecher.fremdsprachen" value="{{aktuelle_fremdsprache.uuid}}">{{aktuelle_fremdsprache.kuerzel}}</option>
                  </select>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler)">{{schueler.profil_bezeichnung}}</div>
                <div ng-show="editierenAktiv(schueler)">
                  <select class="custom-select" ng-model="editierterSchueler.profil_id">
                    <option ng-repeat="aktuelles_profilfach in spezialFaecher.profilfaecher" value="{{aktuelles_profilfach.uuid}}">{{aktuelles_profilfach.kuerzel}}</option>
                  </select>
                </div>
              </td>
              <td class="align-baseline">
                <div ng-hide="editierenAktiv(schueler) || !app.setting.symbole">
                  <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="setzeEditieren(schueler)"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-sm danger" ng-click="loescheSchueler(schueler)"><i class="fa fa-trash"></i></button>
                  <button class="btn btn-sm {{app.setting.theme.primary}}" ng-click="verschieben(schueler)"><i class="fa fa-sign-out"></i></button>
                  <button class="btn btn-sm info" ui-sref="lmv.ausleihe.schüler({'klasse': aktiveKlasse.uuid, 'schueler': schueler.uuid})"><i class="fa fa-eye"></i></button>
                </div>
                <div ng-hide="editierenAktiv(schueler) || app.setting.symbole">
                  <button class="btn btn-sm" ng-click="setzeEditieren(schueler)">Editieren</button>
                  <button class="btn btn-sm {{app.setting.theme.warn}}" ng-click="loescheSchueler(schueler)">Löschen</button>
                  <button class="btn btn-sm {{app.setting.theme.primary}}" ng-click="verschieben(schueler)">Verschieben</button>
                </div>
                <div ng-show="editierenAktiv(schueler) && app.setting.symbole">
                  <button class="btn btn-sm success" ng-click="editierenFertig()"><i class="fa fa-check"></i></button>
                  <button class="btn btn-sm danger" ng-click="editierenAbbrechen()"><i class="fa fa-times"></i></button>
                </div>
                <div ng-show="editierenAktiv(schueler) && !app.setting.symbole">
                  <button class="btn btn-sm" ng-click="editierenFertig()">Fertig</button>
                  <button class="btn btn-sm" ng-click="editierenAbbrechen()">Abbrechen</button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="align-baseline">
                <input class="form-control form-control-sm" type="text" ng-model="neuerSchueler.name" placeholder="Name"/>
              </td>
              <td class="align-baseline">
                <input class="form-control form-control-sm" type="text" ng-model="neuerSchueler.geburtsdatum" placeholder="Geburtsdatum"/>
              </td>
              <td class="align-baseline">
                <!-- Konfession Auswahl-Feld-->
                <select class="custom-select" ng-model="neuerSchueler.konfession">
                  <option ng-repeat="aktuelle_konfession in spezialFaecher.konfessionen" value="{{aktuelle_konfession.uuid}}">{{aktuelle_konfession.kuerzel}}</option>
                </select>
              </td>
              <td class="align-baseline">
                <!-- Fremdsprache Auswahl-Feld-->
                <select class="custom-select" ng-model="neuerSchueler.fremdsprache">
                  <option ng-repeat="aktuelle_fremdsprache in spezialFaecher.fremdsprachen" value="{{aktuelle_fremdsprache.uuid}}">{{aktuelle_fremdsprache.kuerzel}}</option>
                </select>
              </td>
              <td class="align-baseline">
                <!-- Profilfach Auswahl-Feld-->
                <select class="custom-select" ng-model="neuerSchueler.profilfach">
                  <option ng-repeat="aktuelles_profilfach in spezialFaecher.profilfaecher" value="{{aktuelles_profilfach.uuid}}">{{aktuelles_profilfach.kuerzel}}</option>
                </select>
              </td>
              <td class="align-baseline">
                <button class="btn {{app.setting.theme.primary}}" ng-click="schuelerHinzufuegen()">Hinzufügen</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>