<div class="app-footer white">
  <div ui-include="'../views/blocks/footer.html'"></div>
</div>
<div class="app-body amber bg-auto w-full">
  <div class="text-center pos-rlt p-y-md">
    <h1 class="text-shadow m-0 text-white text-4x">
      <span class="text-2x font-bold block m-t-lg">404</span>
    </h1>
    <h2 class="h1 m-y-lg text-black">UPPS!</h2>
    <p class="h5 m-y-lg text-u-c font-bold text-black">Die von ihnen gewählte Seite existiert nicht.</p>
    <a ui-sref="lmv.übersicht" class="md-btn amber-700 md-raised p-x-md">
      <span class="text-white">Zurück zur Startseite</span>
    </a>
  </div>
</div>
